# shellcheck shell=bash
export PLAYWRIGHT_MCP_EXECUTABLE_PATH=/usr/sbin/chromium

###############################################################################
## NVM 24 LTS
###############################################################################
#use nvm lts/krypton
#
##############################################################################
# load node bin
##############################################################################
# if the project has local bins, add them to PATH
if [ -d ./node_modules/.bin ]; then
  PATH_add ./node_modules/.bin
fi

# Make repository command helpers available anywhere below this worktree.
PATH_add ./scripts/bin
