# Dependencies
node_modules/

# Build artifacts
dist/
public/

# OS/IDE junk
.DS_Store
.idea
.vscode

# Sensitive local files (for safety)
.env
.env.*
.claude
.gitconfig
.gitmodules
.mcp.json
.ripgreprc
.profile
.zprofile
.zshrc
.bash_profile
.bashrc

# Test artifacts
screenshots/
test-results/
playwright-report/

# Created by https://www.toptal.com/developers/gitignore/api/stylus
# Edit at https://www.toptal.com/developers/gitignore?templates=stylus

### Stylus ###
*.css

# End of https://www.toptal.com/developers/gitignore/api/stylus
