// Color palette for violet-void-theme
$darker = #0f0f0f
$dark = #202020
$base = #181818
$light = #bfbfbf
$lighter = #e7e7e7

$arch-blue = #8950c7
$secondary-blue = #c7b8ff
$red = #a80065
$secondary-red = #ff1a67
$green = #4bfe9b
$secondary-green = #4bfe9b
$orange = #fd7cff
$cell-delim = #252525

// Terminal palette
$term-black = #0f0f0f
$term-red = #ff1a67
$term-green = #42ff97
$term-yellow = #7c60d1
$term-blue = #29adff
$term-magenta = #fd007f
$term-cyan = #00a8a4
$term-white = #505050

$term-bright-black = #252525
$term-bright-red = #ff004b
$term-bright-green = #42ffad
$term-bright-yellow = #fd7cff
$term-bright-blue = #c7b8ff
$term-bright-magenta = #fd0098
$term-bright-cyan = #00fff9
$term-bright-white = #e7e7e7