/* ==UserStyle==
@name         violet-void-theme_archwiki
@version      20250905.16.55
@namespace    github.com/aaronedev/violet-void-theme
@description  Dark Violet-Void theme that applies a consistent handcrafted color palette to the ArchWiki.
@author       aaronedev
@github       https://github.com/aaronedev
@homepageURL  https://github.com/aaronedev/violet-void-theme_archwiki
@license      MIT
==/UserStyle== */

@-moz-document domain("wiki.archlinux.org")
  // Import all components
  @import 'components/base'
  @import 'components/content'
  @import 'components/navigation'
  @import 'components/code'
  @import 'components/forms'
  @import 'components/tables'
  @import 'components/boxes'
  @import 'components/responsive'